* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --font-main: 'Poppins', sans-serif;
  --text-color: #E1E1E6;
  --text-no-fav: #4E5455;

  --thead: #092D38;
  --primary-color-nofav: #06161b7e;
  --secondary-color: #06181ccc;
  --input: #06181C;
  --button: #065E7C;
  --button-hover: #fffffff0;
  --scroll-border: #4A808C; 
  --remove: #f84b59; 
}

body {
  font-size: 1.6rem;
  background-color: #000000;
}

body, .search input, .search button span, table * {
  color: var(--text-color);
}

button, input, th, p, td {
  font-family: var(--font-main);
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
}

header img {
  height: 14rem; 
  width: 14rem; 
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
}

.search input {
  width: 42rem;
  height: 3.2rem;
  border: none;
  border-radius: .4rem ;
  padding: 0 1.4rem;
  background-color: var(--input);
  font-size: 1.2rem;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button);
  border-radius: .4rem ;
  height: 3.2rem;
  width: 12rem;
  border: none;
  padding: 0 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;

  cursor: pointer;
}

.search button img {
  margin-right: 0.5rem;
  height: 1.6rem; 
  width: 1.6rem; 
}

.search button:hover img {
    filter: brightness(0) invert(30%) sepia(1) saturate(5000%) hue-rotate(170deg);
}

.search button span {
  font-size: 1.0rem;
  font-weight: bold;
}

.search button:hover span {
  color: var(--button);
}

.search button:hover {
  background-color: var(--button-hover);
}

table {
  width: 100%;
  border-spacing: 0; 
  display: block;
}

table * {
  font-size: 1.4rem;
}

thead, tbody { 
  display: block;
} 

thead tr,
tbody tr {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
}

.scrollable {
  width: 100%;
  max-height: 30rem; 
  display: block ;
  overflow: auto; 
}

.scrollable::-webkit-scrollbar {
  width: 0.4rem; 
  height: 1rem;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent; 
}

.scrollable::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 1rem 
}

table th {
  background: var(--thead);
  text-align: left;
  font-weight: bold;
  padding: 1.5rem;
}

table th:first-child {
  border-top-left-radius: 1.5rem;
}

table th:last-child {
  border-top-right-radius: 1.5rem;
}

table tr:last-child td:first-child  {
  border-bottom-left-radius: 1.5rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 1.5rem;
}

table tr:nth-child(even) {
  background: var(--secondary-color);
}

table tr:nth-child(odd) {
  background: var(--primary-color);
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;
  color: #f75a67cd;
  cursor: pointer;
}

td .remove:hover {
  color: var(--remove);
}

.hide {
  display: none;
}

.no-favorite {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  color: var(--text-no-fav);
  font-size: 1.5rem;
  background-color: var(--text-no-fav);
  height: 30rem;
  display: flex;  
  justify-content: center; 
  align-items: center;
  gap: 4rem;
}

.no-favorite img {
  width: 10rem;
  height: 10rem;
}

.content-container {
  border: 1px solid var(--scroll-border);
  border-radius: 1.5rem; 
  overflow: hidden; 
}